/* Reset */
*, *::before , *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root Variables */
:root{
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #0a66c2;
  --color-gray-dark:#313335;
  --color-gray-medium:#86888a;
  --color-gray-light:#caccce;
}

/* Typography */
html{
  font-size: 62.5%;
}

body{
  color: var(--color-black);
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #F3F2EF;
}

h1 , h2 , h3{
  color: var(--color-black);
  font-weight: 600;
}

h1{
  font-size: 2.4rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}