/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root Variables */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #0a66c2;
  --color-blue-dark: #004182;
  --color-gray-dark: #313335;
  --color-gray-medium: #86888a;
  --color-gray-light: #caccce;
  --color-body: #f3f2ef;
  --color-border: #e0dfdc;
  --border-radius: 0.8rem;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-black);
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-black);
  font-weight: 600;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Card */
.card {
  background-color: var(--color-white);
  padding: 2.4rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  margin-bottom: 0.8rem;
}

/* Intro */
.card.intro {
  padding: 0;
  overflow: hidden;
}

.intro .intro__header {
  background: url("../assets/images/header.jpg") no-repeat center 25%;
  background-size: cover;
  height: 200px;
  position: relative;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.intro .intro__header .intro__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 4px solid var(--color-white);
  overflow: hidden;
  position: absolute;
  top: 90px;
  left: 30px;
}

.intro__header .intro__img img {
  width: 100%;
}

.intro .intro__details {
  padding: 5rem 2.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.intro__details .details__right {
  margin-right: 4rem;
}

.intro__details .details__right a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-black);
}

.intro__details .details__right a:hover {
  text-decoration: underline;
  color: var(--color-blue);
}

.intro__details .details__right img {
  width: 30px;
  margin-right: 0.5rem;
}

.intro__details .details__left h3 {
  font-weight: 400;
}

.intro__details .details__left p:nth-child(3) {
  color: var(--color-gray-medium);
  margin: 0.2rem 0;
}

.intro__details .details__left p:nth-child(4) {
  font-weight: 600;
  color: var(--color-blue);
  margin: 0.2rem 0 1rem;
}

.intro__details .details__left .contactInfo {
  font-weight: 600;
  color: var(--color-blue);
}

.intro__details .details__left .contactInfo:hover {
  text-decoration: underline;
  cursor: pointer;
}

.intro__details .details__left .btn {
  outline: 0;
  padding: 0.8rem 2rem;
  border-radius: 1.6rem;
  margin: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro__details .details__left .btn--connect {
  color: var(--color-white);
  background-color: var(--color-blue);
  border: none;
}

.btn--connect i.fa-user-plus {
  margin-right: 0.5rem;
}

.intro__details .details__left .btn--connect:hover {
  background-color: var(--color-blue-dark);
}

.intro__details .details__left .btn--msg {
  color: var(--color-blue);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-blue);
}

.btn--msg i.fa-lock {
  margin-right: 0.5rem;
}

.intro__details .details__left .btn--msg:hover {
  border-width: 2px;
  background-color: rgba(10, 102, 194, 0.2);
  margin: 0.45rem;
}

.intro__details .details__left .btn--more {
  color: var(--color-gray-medium);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gray-medium);
}

.intro__details .details__left .btn--more:hover {
  border-width: 2px;
  background-color: rgba(234, 234, 234, 0.8);
  margin: 0.45rem;
}

/* Modal */
.modalContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modalContainer.open{
  display: flex;
}

.modal {
  width: 500px;
  height: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.modal .modal__header{
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.modal__header span{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: var(--color-gray-dark);
  transition: background-color 0.3s ease;
}

.modal__header span:hover{
  cursor: pointer;
  background-color: var(--color-gray-light);
}

.modal .modal__details{
  padding: 1rem 1.5rem;
}

.modal__details .modal__title{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.modal__details .modal__item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.modal__details .modal__item i{
  color: var(--color-gray-medium);
  margin-right: 1.5rem;
  font-size: 1.8rem;
}

.modal__details .modal__item a{
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 600;
}

.modal__details .modal__item a:hover{
  text-decoration: underline;
}

/* About */
.about h2 {
  margin-bottom: 0.8rem;
}

.about p {
  width: 60%;
}

/* Experience */
.experience h2 {
  margin-bottom: 1.3rem;
}

.experience .experience__item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-border);
  padding: 1.2rem 0;
}
.experience .experience__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.experience__item .experience__img {
  width: 50px;
  margin-right: 1rem;
}

.experience__item .experience__img img {
  width: 100%;
}

.experience__details p:nth-child(3),
.experience__details p:nth-child(4) {
  color: var(--color-gray-medium);
}

/* Education */
.education h2 {
  margin-bottom: 1.3rem;
}

.education .education__item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-border);
  padding: 1.2rem 0;
}

.education .education__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.education__item .education__img {
  width: 50px;
  margin-right: 1rem;
}

.education__item .education__img img {
  width: 100%;
}

.education__details h3 a {
  text-decoration: none;
  color: var(--color-black);
}

.education__details h3 a:hover {
  color: var(--color-blue);
  text-decoration: underline;
}

.education__details p:nth-child(3) {
  color: var(--color-gray-medium);
}

/* License */
.license h2 {
  margin-bottom: 1.3rem;
}

.license .license__item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-border);
  padding: 1.2rem 0;
}

.license .license__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.license__item .license__img {
  width: 50px;
  margin-right: 1rem;
}

.license__item .license__img img {
  width: 100%;
}

/* Skill */
.skill h2 {
  margin-bottom: 1.3rem;
}

.skill .skill__item {
  border-bottom: 1px solid var(--color-border);
  padding: 1.2rem 0;
}

.skill .skill__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.skill__details p {
  margin: 1.2rem 0.5rem;
}

.skill__details i.fa-clipboard-check {
  color: var(--color-blue);
  font-size: 2rem;
  margin-right: 1rem;
}

.skill__details i.fa-user-group {
  color: var(--color-gray-medium);
  font-size: 2rem;
  margin-right: 1rem;
}
